---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Nosotros from "../components/Nosotros.astro";
import Flota from "../components/Flota.astro";
import Socios from "../components/Socios.astro";
import Cotizacion from "../components/Cotizacion.astro";
import Contacto from "../components/Contacto.astro";
import Chatbot from "../components/Chatbot.astro";
import Footer from "../components/Footer.astro";
import CalculadoraFlotante from "../components/CalculadoraFlotante.astro";
---

<Layout title="Kachris Transport SAC - Transporte Confiable y Eficiente">
  <Header />
  <main>
    <Hero />
    <Nosotros />
    <Flota />
    <Socios />
    <Cotizacion />
    <Contacto />
  </main>
  <Footer />
  <Chatbot />
  <CalculadoraFlotante />
</Layout>
